
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/back.jpg);
  background-position: center;
  background-size: cover;
} */
.profile-card{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  padding: 20px 0px;
  border: 1px solid #ffffff40;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
  margin: 3%;
}
.profile-card:hover {
    cursor: pointer;
    box-shadow: 10px 10px 12px #A41034;
    box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
    transition: .3s;
}

.image{
  position: relative;
  height: 150px;
  width: 150px;
}
.image .profile-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.data{
  font-size: 25px;
  font-weight: 500;
}
span{
  font-size: 13px;
}
.row{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.row .info{
  text-align: center;
  padding: 0 20px;
}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.buttons .btn{
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 12px;
  white-space: nowrap;
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
}
.buttons .btn:hover{
  box-shadow: inset 0 5px 20px rgba(0,0,0,0.4);
}